.container {
    width: 560px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -200px -280px;
    background-color: #323232;
}

.container__title {
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
